:root {
  --list-selected: rgba(80, 129, 140, 0.68);
  --board-width: 500px;
  --border-radius: 8px;
  --background-color: rgb(113, 113, 113);
  --dice-selected: rgb(72, 173, 117);
  --box-shadow: 0px 0px 5px 1px #423b3b66;
  --text-color: #000;
  --list-danger: #a9564c;

}

body {
  background: var(--background-color);
  user-select: none;
  color: var(--text-color)
}

.message-box {
  height: 40px;
  width: var(--board-width);
  background-color: rgb(118, 167, 69);
  color: white;
  opacity: initial;
  /* transition-duration: 2s; */
  text-align: center;
  font-size: 20px;
  transition-duration: 0.2s;
}

.hidden {
  transition-duration: 0.2s;
  opacity: 0;
  visibility: hidden;
}

.no-display {
  display: none;
}

.mainBoard {
  /* background-color: gray; */
  width: var(--board-width);
  position: relative;
}


li {
  list-style-type: none;
  width:45px;
  height: 30px;
  font-weight: bold;
}

.itemlist li:first-child, .playerlist li:first-child {
  border: 2px solid white;
}

.itemList li {
  width: 112px;  
  padding: 0 5px;

}

.playerList li {
  text-align: center;
  text-transform: uppercase;
}

.playerList li, .itemList li {
  list-style-type: none;
  /* background: rgb(155, 155, 155); */
  margin: 0px;
  border: 1px rgb(187, 187, 187) solid;
  text-shadow: black 0.5px 0.5px;
  color: #e2e2e2;
}

.playerNames ul:last-child li:first-child {
  border-top-right-radius: var(--border-radius);
}
.playerNames ul:last-child li:last-child {
  border-bottom-right-radius: var(--border-radius);
}

.diceList {
  display: inline-block;
}

.itemList li:first-child {
  border-top-left-radius: var(--border-radius);
}

.itemList li:last-child {
  border-bottom-left-radius: var(--border-radius)
}

.dice {
  height: 40px;
  width: 40px;
  background: white;
  border-radius: 6px;
  box-shadow: var(--box-shadow);

}

.dot {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
  margin: 2px;
}

.one-face {
  background-image: url('../images/one die.png')
}

.two-face {
background-image: url('../images/two die.png');
}

.three-face {
background-image: url('../images/three die.png');
}

.four-face {
  background-image: url('../images/four die.png');
}

.five-face {
  background-image: url('../images/five die.png');
}

.six-face {
  background-image: url('../images/six die.png'); 
}

.one-face, .two-face, .three-face, .four-face, .five-face, .six-face {
  height: 40px;
  background-size: cover;
  background-position: center;
  text-indent: -9999px;
  overflow: hidden;
}

.selected {
  background-color: var(--dice-selected)
}
.playerList .selected-field {
  background-color: var(--list-selected);
  color: yellow;
}

.playerList .sacrifice-field {
  background-color: var(--list-danger);
  color: yellow;
}

.output {
  padding: 5px 0 0 30px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto
}

.flex-container {
  display: flex;
  flex-direction: column;
}
